* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #76b108;
  transition: all 1s ease;
}

.container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stopwatch__description-header {
  margin-bottom: 20px;
}

.time__display {
  display: block;
}

.stopwatch {
  position: relative;
  font-size: 56px;
  text-align: center;
  border-radius: 10px;
}

.button__wrapper {
  margin-top: 20px;
  margin-left: 10px;
}

#start,
#pause,
#reset,
#lap {
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  transition: all 500ms ease;
}

#stopwatch__display {
  max-width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 10px 10px;
}

.lap__list {
  margin-top: 20px;
}

#start,
#pause,
#reset,
#lap {
  background-color: black;
  color: #76b108;
  border: 1px dotted #76b108;
}

#start:hover {
  transform: translateY(-2px);
}
#pause:hover {
  transform: translateY(-2px);
}
#reset:hover {
  transform: translateY(-2px);
}
#lap:hover {
  transform: translateY(-2px);
}

#start:active {
  background-color: white;
}
#pause:active {
  background-color: white;
}
#reset:active {
  background-color: white;
}

#lap:active {
  background-color: white;
}

.lap__button {
  font-size: 8px;
  background-color: black;
  color: white;
  padding: 4px 8px;
  margin-left: 40px;
  margin-bottom: 2px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #76b108;
}

.lap__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}

.fa-regular,
.fa-moon,
.fa-sun {
  position: absolute;
  font-size: 20px;
  top: -48px;
  right: -30px;
}

@media (max-width: 770px) {
  .stopwatch {
    font-size: 32px;
  }
}

@media (max-width: 440px) {
  .stopwatch {
    font-size: 24px;
  }

  .button__wrapper {
    display: flex;
    flex-direction: column;
  }

  #start,
  #pause,
  #reset,
  #lap {
    margin-top: 10px;
  }
}
